.Profile {
    margin: 0 auto 2rem;
    padding: 1rem;
    max-width: 320px;
    border: 2px solid var(--colPri);

    &__Title {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    &__BtnContainer {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        margin-top: 1rem;
    }

    &__SuccessNotice {
        margin-top: 1.25rem;
    }
}