.Modal {
    &__Stackbox {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        gap: 1rem;
    }

    &__SubInputFlexbox {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__ButtonsFlexbox {
        margin-top: 2rem;
        display: flex;
        flex-direction: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__SortCollectionList {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__CollectionItem {
        margin: 0.5rem;
        padding: 0.5rem 1.25rem;
        border: 1px solid var(--colPri);
    }
    
    &__CollectionName {
        margin: 0;
    }
}