@use 'sass:math';

@function rem($value) {
    @return #{math.div(math.div($value, $value * 0 + 1), 16)}rem;
}

@mixin GlassBlur { 
    backdrop-filter: blur(12px);
    // Attributes to overwrite specificity
    [data-mantine-color-scheme="light"] &,
    [data-mantine-color-scheme="dark"] & {
        border-color: var(--colPri);
        background-color: var(--colMenuBg);
    }
}

@mixin Mobile {
    @media screen and (width <= 720px) {
        @content;
    }
}

@mixin Menu {
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: var(--colPri);
    padding: 0.25rem;
    z-index: 10;
}

@mixin AnimatedCommon() {
    animation-duration: 200ms;
    animation-timing-function: ease-in-out;
    will-change: transform, opacity;
}

@mixin AnimatedDropdown() {
    @include AnimatedCommon;

    &[data-side="top"] {
        animation-name: slideUpAndFade;
    }

    &[data-side="bottom"] {
        animation-name: slideDownAndFade;
    }

    @keyframes slideDownAndFade {
        from {
            opacity: 0;
            transform: translateY(-5px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes slideUpAndFade {
        from {
            opacity: 0;
            transform: translateY(5px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

@mixin AnimatedContextMenu() {
    @include AnimatedCommon;

    &[data-side="right"] {
        transform-origin: top left;
    }

    &[data-side="left"] {
        transform-origin: top right;
    }

    &[data-side="right"],
    &[data-side="left"] {
        animation-name: scaleAndFade;
    }

    @keyframes scaleAndFade {
        from {
            opacity: 0;
            transform: scale(0);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }
}

@mixin DropdownTriggerBtn {
    padding: 0.25rem 0.25rem 0.25rem 0.5rem;

    &:hover {
        background-color: var(--colGreyBg);
    }

    &:focus-visible {
        outline: 2px solid var(--colPri);
        outline-offset: 2px;
    }
}

@mixin DropdownTriggerLabel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    color: var(--colPri);
}

@mixin DropdownItem {
    cursor: pointer;
    font-size: var(--fontSizeSm);
    padding: 0.5rem 0.75rem;
    width: 100%;
    display: flex;
    align-items: center;

    &:hover,
    &:focus {
        outline: none;
        background-color: var(--colGreyBg);
    }
}

@mixin DropdownSeparator {
    height: 1px;
    background-color: var(--colGreyBg);
    margin: 2px;
}
