@mixin glass-blur { 
    backdrop-filter: blur(15px);
    // Attributes to overwrite specificity
    [data-mantine-color-scheme="light"] &,
    [data-mantine-color-scheme="dark"] & {
        border-color: var(--mantine-color-text);
        // TODO: sigh, somehow this works
        background-color: var(--nonsensical-variable);
    }
}

@mixin mobile {
    @media screen and (width <= 720) {
        @content;
    }
}

@mixin Menu {
    border-style: solid;
    border-width: 1px;
    border-color: var(--mantine-color-text);
    padding: 0.25rem;
}

@mixin DropdownItem {
    cursor: pointer;
    font-size: var(--fontSizeSm);
    padding: 0.25rem 0.75rem;

    &:hover,
    &:focus {
        outline: none;
        background-color: var(--col-grey-2);
    }
}

@mixin DropdownSeparator {
    height: 1px;
    background-color: var(--col-grey-2);
    margin: 5px;
}
