:root {
    --monospaceFontFamily: Space Mono, Menlo, Consolas, monospace;

    --fontSizeLg: 18px;
    --fontSizeMd: 16px;
    --fontSizeSm: 14px;
    --fontSizeXs: 12px;
    --container-width: 955px;
    --colCyan: #0098A9;
    --colMagenta: #FF426C;
    --colYellow: #D57300;
    --colViolet: #9B70FF;

    --colPri: #000;
    --colBg: #fff;
    --colGrey: #444;
    --colGreyBg: #DDD;
    --colGreyLt: #AAA;
    --colCodeBg: #EEE;
    --colSkeleton: #DDD;
    --colMenuBg: rgba(255, 255, 255, 0.1);
}

:root[data-mantine-color-scheme="light"] {
    --colViolet: #794AFF;
    
    --colPri: #000;
    --colBg: #fff;
    --colGrey: #444;
    --colGreyBg: #DDD;
    --colGreyLt: #444;
    --colCodeBg: #EEE;
    --colSkeleton: #DDD;
    --colMenuBg: rgba(255, 255, 255, 0.1);
}

:root[data-mantine-color-scheme="dark"] {
    --colViolet: #9B70FF;

    --colPri: #fff;
    --colBg: #000;
    --colGrey: #999;
    --colGreyBg: #444;
    --colGreyLt: #999;
    --colCodeBg: #222;
    --colSkeleton: #222;
    --colMenuBg: rgba(0, 0, 0, 0);
}
