:root {
    --monospaceFontFamily: Space Mono, Menlo, Consolas, monospace;

    --fontSizeLg: 18px;
    --fontSizeMd: 16px;
    --fontSizeSm: 14px;
    --fontSizeXs: 12px;
    --ContainerWidth: 955px;
    --colCyan: #0098A9;
    --colMagenta: #FF426C;
    --colYellow: #D57300;
    --colViolet: #9B70FF;

    --colPri: #121212;
    --colBg: #E0E0E0;
    --colGrey: #444;
    --colGreyBg: #EEE;
    --colGreyLt: #AAA;
    --colCodeBg: #EEE;
    --colSkeleton: #B2B2B2;

    // Shared variables
    --colMenuBg: rgba(var(--colBg), 0.1);
}

:root[data-mantine-color-scheme="light"] {
    --colViolet: #794AFF;
    
    --colPri: #121212;
    --colBg: #E0E0E0;
    --colGrey: #444;
    --colGreyBg: #CDCDCD;
    --colGreyLt: #444;
    --colCodeBg: #CDCDCD;
    --colSkeleton: #B2B2B2;
}

:root[data-mantine-color-scheme="dark"] {
    --colViolet: #9B70FF;

    --colPri: #E0E0E0;
    --colBg: #121212;
    --colGrey: #999;
    --colGreyBg: #444;
    --colGreyLt: #999;
    --colCodeBg: #222;
    --colSkeleton: #333;
}
