:root {
    --monospaceFontFamily: Space Mono, Menlo, Consolas, monospace;

    --fontSizeLg: 18px;
    --fontSizeMd: 16px;
    --fontSizeSm: 14px;
    --fontSizeXs: 12px;
    --ContainerWidth: 955px;
    --colCyan: #0098a9;
    --colMagenta: #ff426c;
    --colYellow: #d57300;
    --colViolet: #9b70ff;

    --colPri: #121212;
    --colBg: #e0e0e0;
    --colGrey: #444;
    --colGreyBg: #eee;
    --colGreyLt: #aaa;
    --colCodeBg: #eee;
    --colSkeleton: #b2b2b2;

    // Shared variables
    --colMenuBg: rgba(var(--colBg), 0.1);
}

:root[data-mantine-color-scheme="light"] {
    --colViolet: #794aff;

    --colPri: #121212;
    --colBg: #e0e0e0;
    --colGrey: #444;
    --colGreyBg: #d7d7d7;
    --colGreyLt: #444;
    --colCodeBg: #cdcdcd;
    --colSkeleton: #b2b2b2;
}

:root[data-mantine-color-scheme="dark"] {
    --colViolet: #9b70ff;

    --colPri: #e0e0e0;
    --colBg: #121212;
    --colGrey: #999;
    --colGreyBg: #242424;
    --colGreyLt: #999;
    --colCodeBg: #222;
    --colSkeleton: #333;
}
