@use "./_mixins.scss" as m;

.account-route-modal {
    margin: 0 auto;
    margin-bottom: var(--mantine-spacing-xl);
    max-width: 320px;
    border-color: var(--mantine-color-text);

    &--register {
        margin-bottom: 60px;
    }

    &--login {
        margin-top: 150px;
    }

    &--reset {
        margin-top: 200px;
    }

    @include m.mobile {
        margin-top: 0;
    }
}

