@use "./_mixins.scss" as m;

.cardlike {
    margin: 0 auto;
    margin-bottom: var(--mantine-spacing-xl);
    max-width: 320px;
    border-color: var(--mantine-color-text);

    &__title {
        margin-bottom: var(--mantine-spacing-md);
    }

    &--register {
        margin-bottom: 60px;
    }

    &--login {
        margin-top: 150px;
    }

    &--reset {
        margin-top: 200px;
    }

    &--long-doc {
        max-width: 640px;
        hyphens: auto;

        h2, h3, h4, h5, h6 {
            margin-top: var(--mantine-spacing-md);
        }

        h2 + p,
        h3 + p,
        h4 + p,
        h5 + p,
        h6 + p {
            margin-top: 0;
        }

        p {
            margin-top: var(--mantine-spacing-md);
        }
    }

    &__man-section {
        margin-top: var(--mantine-spacing-md);
    }

    &__terms-li {
        margin-top: 0.25rem;
    }

    @include m.mobile {
        margin-top: 0;
    }
}

