@use "./_mixins.scss" as m;

.cardlike {
    margin: 0 auto;
    margin-bottom: var(--mantine-spacing-xl);
    max-width: 320px;
    border-color: var(--mantine-color-text);

    &__title {
        margin-bottom: var(--mantine-spacing-md);
    }

    &--register {
        margin-bottom: 60px;
    }

    &--login {
        margin-top: 150px;
    }

    &--reset {
        margin-top: 200px;
    }

    &--long-doc {
        max-width: 640px;
        hyphens: auto;
    }

    &__terms-li {
        margin-top: 0.25rem;
    }

    @include m.mobile {
        margin-top: 0;
    }
}

