@use "./mixins.scss" as m;

.collection-menu-btn {
    &__label {
        user-select: none;
        max-width: 200px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    @include m.mobile {
        display: none;
    }

    &--is-in-main-view {
        display: none;

        @include m.mobile {
            @include m.glass-blur;

            display: block;
            z-index: 2;
            position: fixed;
            bottom: 1.5rem;
            right: 1.5rem;
    
            border: solid 1px var(--mantine-color-text);
            background-color: var(--mantine-color-body);
            padding: 0.8rem 1rem;
        }
    }
}

.collection-menu-dropdown {
    max-width: 300px;
    max-height: 80vh;
    overflow-y: scroll;
    scrollbar-width: thin;
}