// @use "./variables.scss";
@use "./mixins.scss" as m;

.item {
    cursor: pointer;
    border: solid 1px transparent;


    &[data-is-selected=true] {
        border-color: var(--mantine-color-text);
    }

    // @media (hover: hover) {
    //     &:hover {
    //         border-color: var(--mantine-color-text);
    //     }
    // }

    &__left-side {
        min-width: 0;
        flex-grow: 3;
    }

    &__right-side {
        flex-shrink: 0;
        
        @include m.mobile {
            display: none;
        }
    }

    &__icon-wrapper {
        flex-shrink: 0;

        > img {
            flex: auto;
        }
    }

    &__icon-colour {
        height: 24px;
        width: 24px;
        border-radius: 50%;
    }

    &__primary-text,
    &__secondary-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: calc(50%);
        user-select: none;
    }

    &__secondary-text {
        font-family: var(--mantine-font-family-monospace);
        font-size: 0.8rem;
    }

}
