// @use "./variables.scss";
@use "./mixins.scss" as m;

.item {
    cursor: pointer;
    border: solid 1px transparent;

    &--is-active {
        border-color: var(--mantine-color-text);
    }

    &__left-side {
        min-width: 0;
        flex-grow: 3;
    }

    &__right-side {
        flex-shrink: 0;
        
        @include m.mobile {
            display: none;
        }
    }

    &__icon-wrapper {
        flex-shrink: 0;

        > img {
            flex: auto;
        }
    }

    &__primary-text,
    &__secondary-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: calc(50%);
    }

}
