@use "./variables.scss" as v;
@use "./mixins.scss" as m;
@use "./fonts.scss";
@use "./itemComponent.scss";

.appshell-main {
    padding-top: 60px; // see: Header
}

.landing-page {
    max-width: 512px;
    padding: 16px;

    &__section {
        margin-top: 32px;

        ul {
             margin: 0;
        }

        p {
            hyphens: auto;
        }
    }
}

.account-modal {
    &--register {
        margin-bottom: 40px;
    }

    &--login {
        margin-top: 100px;
    }

    &--forget {
        margin-top: 100px;
    }

    @include m.mobile {
        margin-top: 0;
    }
}

.header {
    height: 50px;

    &__left-side {
        display: flex;
        justify-content: center;
    }

    &__user-corner {
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.main-view {
    max-width: 720px;
    margin: 120px 12px 12px;
}
