@use 'sass:color';
@use "./variables.scss" as v;
@use "./mixins.scss" as m;
@use "./fonts.scss";
@use "./itemComponent.scss";
@use '@mantine/core/styles/global.css';

// html {
//     @include m.mobile {
//         font-size: 14px;
//     }
// }

.appshell-main {
    padding-top: 60px; // see: Header
}

header {
    @include m.glass-blur;
}

.header {
    &__left-side {
        display: flex;
        justify-content: center;
    }

    &__user-corner {
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.landing-page {
    margin: 0 auto;
    max-width: 640px;
    padding: 16px;

    &__section {
        margin-top: 32px;

        ul {
             margin: 0;
        }

        p {
            hyphens: auto;
        }
    }
}

.account-route-modal {
    margin: 0 auto;
    max-width: 320px;

    &--register {
        margin-bottom: 60px;
    }

    &--login {
        margin-top: 150px;
    }

    &--reset {
        margin-top: 200px;
    }

    @include m.mobile {
        margin-top: 0;
    }
}

.main-view {
    max-width: 720px;
    margin: 120px auto 12px;

    #main-input {
        border-width: 2px;

        &:focus-within {
            border-color: var(--mantine-col-text)
        }
    }

    @include m.mobile {
        &__items-container {
            padding-bottom: 5rem;
        }
    }
}

.notifications-container {
    @include m.mobile {
        bottom: 5rem;
    }
}

.collection-menu-btn {
    // &--is-in-header {
    //     @include m.mobile {
    //         display: none;
    //     }
    // }

    // &--is-sticky {
    //     display: none;

    //     @include m.mobile {
    //         // display: block;
    //         position: fixed;
    //         bottom: 0.8rem;
    
    //         border: solid 1px var(--mantine-color-default-border);
    //         background-color: var(--mantine-color-body);
    //         padding: 0.4rem 0.8rem;
    //     }
    // }
    @include m.mobile {
        display: none;
    }

    &--is-in-main-view {
        display: none;

        @include m.mobile {
            display: block;
            position: fixed;
            bottom: 1.5rem;
            left: 1.5rem;
    
            border: solid 1px var(--mantine-color-default-border);
            background-color: var(--mantine-color-body);
            padding: 0.4rem 0.8rem;
        }
    }


    // &__number-placeholder {
    //     width: 19.35px; // TODO: find a more reliable way to size this
    //     height: 28.6px;
    // }
}

.dropdown-menu {
    @include m.glass-blur;
}

.info-modal-body {
    &__flex-wrapper {
        > svg {
            flex-shrink: 0;
        }
    }
}

.item-update-modal {
    &__input input,
    &__input textarea {
        font-family: var(--mantine-font-family-monospace);
    }
}

.collection-number-placeholder {
    width: 19.35px; // TODO: find a more reliable way to size this
    height: 28.6px;
}

// .collections-sort-modal {
    // display: flex;
    // justify-content: space-around;
//     display: grid;
//     grid-template-columns: [left-most] 1fr [left-border] 8fr [mid-line] 2fr [right-border] 1fr [right-most];


    // &__collection-item {
//         // grid-column-start: left-border;
//         // grid-column-end: mid-line;
//         // grid-column-start: 2;
//         // grid-column-end: 3;
//         // grid-row: 1;
//         // word-wrap: none;
//         overflow: hidden;
//         white-space: nowrap;
//         text-overflow: ellipsis;
        // max-width: 30rem;
        // margin: auto;
    // }

    // &__number-item {
//         // grid-column-start: mid-line;
//         // grid-column-end: right-border;
//         // grid-column-start: 3;
//         // grid-column-end: 4;
//         border-width: 1px;
//         grid-row: 1;
        // margin: 0.75rem;
        // padding: 0.75rem;
        // height: 3.15rem;

        // @include m.mobile {
        //     display: none;
        // }
    // }
// }