
@use 'sass:color';
@use "./_variables.scss" as v;
@use "./_mixins.scss" as m;
@use "./_fonts.scss";

@use "./mantineComponents.scss";
@use "./cardlike.scss";
@use "./mainInput.scss";
@use "./collectionMenu.scss";
@use "./itemComponent.scss";
@use "./itemSkeleton.scss";
@use '@mantine/core/styles/global.css';

html {
    -webkit-tap-highlight-color: transparent;
    // Disable the long press pop up on ios
    -webkit-touch-callout: none;
    scrollbar-width: thin;
}

header {
    @include m.glass-blur;
}

ul li {
    list-style-type: square;
}

.header {
    &__left-side {
        display: flex;
        justify-content: center;
    }

    &__username {
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__theme-mode-btn {
        color: var(--mantine-color-text);

        &--is-selected {
            border-color: var(--mantine-color-text);
        }

        &:hover {
            background-color: transparent;
            color: var(--mantine-color-text);
        }
    }

    &__logo {
        color: var(--mantine-color-text);
    }

    @include m.mobile {
        &__username {
            max-width: 120px;
        }
    }
}

.landing-page {
    margin: 0 auto;
    max-width: 640px;
    padding: 16px;

    &__section {
        margin-top: 32px;

        ul {
             margin: 0;
        }

        p {
            hyphens: auto;
        }
    }
    
    &__demo-box {
        margin: auto;
        max-width: 320px;
        border-color: var(--mantine-color-text);
    }
}

.main-view-notice {
    padding: 60px 0 60px;

    @include m.mobile {
        padding: 40px 0 40px;
    }

    &__item {
        margin: auto;
        max-width: 720px;
    }
}

.main-view {
    max-width: 720px;
    margin: 0 auto 12px;

    @include m.mobile { 
        &__items-container {
            padding-bottom: 5rem;
        }
    }
}

.info-modal-body {
    &__flex-wrapper {
        > svg {
            flex-shrink: 0;
        }
    }
}

.item-create-modal,
.item-update-modal {
    &__input input,
    &__input textarea {
        font-family: var(--mantine-font-family-monospace);
    }
}

.collection-number-placeholder {
    width: 19.35px; // TODO: find a more reliable way to size this
    height: 28.6px;
}


input,
textarea,
input[type="password"] {
    border-style: solid;
    border-width: 1px;

    @include mantine.light {
        background-color: var(--mantine-color-body);
        border-color: var(--mantine-color-text);
    }

    @include mantine.dark {
        background-color: var(--mantine-color-body);
        border-color: var(--mantine-color-text);
    }
}

.keyboard-prompt-display {
    position: fixed;
    right: 0.25rem;
    bottom: 0.25rem;
    max-width: 320px;
    border-color: var(--mantine-color-text);

    &__button,
    &__button:hover {
        color: var(--mantine-color-text);
    }

    &__list {
        padding: var(--mantine-spacing-xs);
        border-width: 1px;
        border-style: solid;
        border-color: var(--mantine-color-text);
    }

    &__prompt {
        max-width: 150px;
    }

    &__desc {
        text-align: right;
        max-width: 150px;
        font-size: 0.8rem;
    }

    @media screen and (max-width: 1279px) {
        display: none;
    }
}

.item-context-menu {
    @include m.glass-blur;
}