// .mantine-AppShell-root {
//     // Override unnecessary inline transition that causes visible movement upon
//     // scrolling is locked (e.g. modal or spotlight)
//     --app-shell-transition-duration: 0 !important;
// }

.mantine-AppShell-main {
    padding-top: 60px; // see: Header
}

.mantine-AppShell-header {
    border-bottom: none;
}

// Devices without hover, aka, touchscreens
@media (hover: none) {
    .mantine-Input-input {
        font-size: var(--mantine-font-size-md);
    }
}

.mantine-Card-root {
    background-color: var(--mantine-color-body);
}

.mantine-ScrollArea-scrollbar {
    z-index: 100; 
}

.mantine-ScrollArea-viewport {
    & > div {
        // Overriding some mind-boggling stupidity in Mantine
        display: block !important;
    }
}

.mantine-Menu-dropdown {
    @include m.GlassBlur;
}

.mantine-Modal-content,
.mantine-Spotlight-content {
    border-style: solid;
    border-width: 1px;
    border-color: var(--mantine-color-text);
}

.mantine-Modal-overlay,
.mantine-Spotlight-overlay {
    // TODO: This is incorrect, but it works. Should find out why
    background-color: var(--mantine-color-body) 0.5;
    backdrop-filter: blur(7px);
}

.mantine-Modal-content {
    scrollbar-width: thin;
}

.mantine-Spotlight-action {
    &[data-selected] {
        background-color: var(--mantine-color-text);

        .mantine-Spotlight-actionSection,
        .mantine-Spotlight-actionLabel,
        .mantine-Spotlight-actionDescription {
            color: var(--mantine-color-body);
        }
    }
};

.mantine-Notifications-root {
    @include m.Mobile {
        bottom: 6rem;
    }
}

.mantine-Notifications-notification {
    color: var(--mantine-color-text);
    background-color: var(--mantine-color-body);
    border: solid 1px var(--mantine-color-text);
}

.mantine-Kbd-root {
    border-radius: 0;
    font-weight: 400;

    [data-mantine-color-scheme="light"] &,
    [data-mantine-color-scheme="dark"] & {
        color: var(--mantine-color-text);
        background-color: var(--mantine-color-body);
        border-color: var(--mantine-color-text);
    }
}

.mantine-Code-root {
    [data-mantine-color-scheme="light"] &,
    [data-mantine-color-scheme="dark"] & {
        background-color: var(--mantine-color-code-bg);
    }
}
