@use "./_mixins.scss" as m;

.mantine-AppShell-main {
    padding-top: 60px; // see: Header
    // Needed by `overlayscrollbars` to work
    // TODO: figure out if removable
    height: 100vh;
}

.mantine-AppShell-header {
    border-bottom: none;
}

.mantine-Modal-content,
.mantine-Spotlight-content {
    border-style: solid;
    border-width: 1px;
    border-color: var(--mantine-color-text);
}

.mantine-Modal-overlay,
.mantine-Spotlight-overlay {
    // TODO: This is incorrect, but it works. Should find out why
    background-color: var(--mantine-color-body) 0.5;
    backdrop-filter: blur(7px);
}

.mantine-Spotlight-action {
    &[data-selected] {
        background-color: var(--mantine-color-text);

        .mantine-Spotlight-actionSection,
        .mantine-Spotlight-actionLabel,
        .mantine-Spotlight-actionDescription {
            color: var(--mantine-color-body);
        }
    }
};

.mantine-Notifications-root {
    @include m.mobile {
        bottom: 5rem;
    }
}

.mantine-Notifications-notification {
    color: var(--mantine-color-text);
    background-color: var(--mantine-color-body);
    border: solid 1px var(--mantine-color-text);
}

.mantine-Kbd-root {
    border-radius: 0;

    [data-mantine-color-scheme="light"] &,
    [data-mantine-color-scheme="dark"] & {
        color: var(--mantine-color-text);
        background-color: var(--mantine-color-body);
        border-color: var(--mantine-color-text);
    }
}
