@use "./variables.scss" as v;

@mixin border {
    border: solid 2px var(--col-pri);
}

@mixin modal($width) {
    @include border;
    margin: auto;
    padding: 1rem;
    max-width: $width;
}

@mixin modal-container {
    height: 100%;
    display: grid;
    place-items: center;
}

@mixin mobile {
    @media screen and (width <= v.$breakpoint) {
        @content;
    }
}