.root {
    &[data-variant='mono'] {
        &[disabled] {
            opacity: 0.5;
        }

        @include mantine.light {
            background-color: var(--colPri);
            color: var(--colBg);
        }

        @include mantine.dark {
            background-color: var(--colPri);
            color: var(--colBg);
        }
    }
}
