.root {
    &[data-variant='mono'] {
        &[disabled] {
            opacity: 0.5;
        }

        @include mantine.light {
            background-color: var(--mantine-color-text);
            color: var(--mantine-color-body);
        }

        @include mantine.dark {
            background-color: var(--mantine-color-text);
            color: var(--mantine-color-body);
        }
    }
}
