// @use "../../variables.scss";
@use "../../styles/_mixins.scss" as m;

.Item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.5rem;

    height: 42px;
    padding: 0.5rem;
    cursor: pointer;
    user-select: none;
    border: solid 1px transparent;

    // override the anchor styles
    text-decoration: none;
    color: var(--colPri);

    &--IsSelected {
        border-color: var(--colPri);
    }

    &__IconWrapper {
        display: grid;
        place-items: center;
        user-select: none;
        flex-shrink: 0;
        width: 1.5rem;
        height: 1.5rem;
    }

    &__IconColour {
        height: 24px;
        width: 24px;
        border-radius: 50%;
    }

    &__FaviconImg {
        height: 24px;
        flex: auto;
    }

    &__LeftSide {
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        gap: 0.5rem;

        overflow: hidden;
        flex-grow: 2;
    }

    &__TextWrapper {
        position: relative;
        max-width: calc(100% - 32px);
    }

    &__PrimaryText,
    &__SecondaryText {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        user-select: none;
        max-width: calc(70%);
    }

    &__SecondaryText {
        font-family: var(--monospaceFontFamily);
        color: var(--colGrey);
        font-size: 0.8rem;
        flex-shrink: 4;
    }

    &__CopiedText {
        position: absolute;
        text-wrap: nowrap;
    }

    &__RightSide {
        display: flex;
        gap: 0.5rem;
        flex-shrink: 0;
    }

    &__Datetime {
        user-select: none;

        @include m.mobile {
            display: none;
        }
    }

    &--HasNoPrimaryText {
        .Item__PrimaryText {
            display: none;
        }

        .Item__SecondaryText {
            max-width: calc(100%);
        }
    }

    &--HasNoSecondaryText {
        .Item__PrimaryText {
            max-width: calc(100%);
        }
        
        .Item__SecondaryText {
            display: none;
        }
    }

    &--IsTodoDone {
        .Item__PrimaryText {
            text-decoration: line-through;
            color: var(--colGrey);
        }
    }
}
