@use "../../styles/_mixins.scss" as m;

.ItemContextMenu {
    @include m.GlassBlur;
    @include m.Menu;
    @include m.AnimatedContextMenu;

    &__Item {
        @include m.DropdownItem;
        padding: 0.2rem 0.5rem;

        &--IsBlue {
            color: var(--colBlue);
        }

        &--IsRed {
            color: var(--colRed);
        }

        &--IsViolet {
            color: var(--colViolet);
        }

        &--IsOrange {
            color: var(--colOrange);
        }
    }

    &__Separator {
        @include m.DropdownSeparator;
    }
}