@use "../../styles/mixins" as m;

.ItemSkeleton {
    margin: 0.4rem;

    &__LeftSide {
        min-width: 0;
        flex-grow: 3;
        width: 60%;
        justify-content: flex-start;

        @include m.mobile {
            width: 100%;
        }
    }

    &__RightSide {
        flex-shrink: 0;
    }

    &__IconColour {
        height: 24px;
        width: 24px;
        border-radius: 50%;
    }

    &__PrimaryText {
        width: calc(100% - 1rem - 32px);
    }

    &__Datetime {
        flex-shrink: 0;

        @include m.mobile {
            display: none;
        }
    }
}
