@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.MainViewNotice {
    margin: auto;
    max-width: 720px;

    &__Content {
        font-style: italic;
        text-align: center;
    }
}
