@use "../../styles/mixins" as m;
@use "../../styles/_variables.scss" as v;

.header {
    padding-left: 0;
    padding-right: 5px;

    &__FlexWrapper {
        display: flex;
        justify-content: space-between;
        max-width: var(--container-width);
        margin-inline: auto;
    }

    &__LeftSide {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    &__LogoNav {
        width: 44px;
        height: 44px;
        display: grid;
        place-items: center;
    }

    &__LogoIcon {
        color: var(--mantine-color-text);
    }

    &__LoginRegisterBox {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    &__ProfileDropdown {
        @include m.Menu;
    }

    &__ProfileDropdownItem {
        @include m.DropdownItem;
    }

    &__ProfileDropdownSeparator {
        @include m.DropdownSeparator;
    }

    &__UsernameText {
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__theme-mode-btn {
        color: var(--mantine-color-text);

        &:hover {
            background-color: transparent;
            color: var(--mantine-color-text);
        }
    }

    @include m.mobile {
        &__username {
            max-width: 120px;
        }
    }
}
