@use "../styles/mixins" as m;
@use "../styles/_variables.scss" as v;

.CollectionMenuBtn {
    @include m.DropdownTrigger;

    &__Label {
        user-select: none;
        max-width: 200px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    @include m.mobile {
        display: none;
    }

    &--isMobile {
        display: none;

        @include m.mobile {
            @include m.GlassBlur;

            display: flex;
            z-index: 2;
            position: fixed;
            bottom: 1.5rem;
            right: 1.5rem;
    
            border: solid 1px var(--mantine-color-text);
            background-color: var(--mantine-color-body);
            padding: 0.8rem 1rem;
        }
    }
}

.CollectionMenuDropdown {
    @include m.GlassBlur;
    @include m.Menu;
    @include m.AnimatedDropdown;

    width: max-content;
    max-width: 300px;
    max-height: 80vh;
    overflow-y: auto;
    scrollbar-width: thin;

    &__Separator {
        @include m.DropdownSeparator;
    }

    &__Item {
        @include m.DropdownItem;

        &--isRed {
            color: var(--colRed);
        }

        &--isViolet {
            color: var(--colViolet);
        }

        &--isSelcted {
            font-weight: 700;
        }
    }

    &__Label {
        width: 100%;
    }
}