@use "../styles/mixins" as m;
@use "../styles/_variables.scss" as v;

.CollectionMenuBtn {

    &__Label {
        user-select: none;
        max-width: 200px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    @include m.mobile {
        display: none;
    }

    &--isInMainView {
        display: none;

        @include m.mobile {
            @include m.glass-blur;

            display: block;
            z-index: 2;
            position: fixed;
            bottom: 1.5rem;
            right: 1.5rem;
    
            border: solid 1px var(--mantine-color-text);
            background-color: var(--mantine-color-body);
            padding: 0.8rem 1rem;
        }
    }
}

.CollectionMenuDropdown {
    max-width: 300px;
    max-height: 80vh;
    overflow-y: auto;
    scrollbar-width: thin;

    &__Item {
        &--current {
            font-weight: 700;
        }
    }
}