@use "../styles/mixins" as m;

.SelectIndicator {
    position: absolute;
    pointer-events: none;
    height: 42px;
    width: 100%;
    border: solid m.rem(1px) var(--colPri);

    will-change: opacity, top;
    transition-property: opacity, top;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
}