body {
    max-width: 720px;
    margin: auto;
}

br {
    display: block;
}


.main-content {
    &__top {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        border-bottom: solid 2px #000;
        padding-bottom: 8px;
        margin-bottom: 16px;
    }

    &__main {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.item {
    // background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    box-sizing: border-box;
    border: solid 2px transparent;
    padding: 8px;

    &__left-side {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        gap: 10px;
    }

    &__primary-text {
        text-transform: uppercase;
    }

    &__secondary-text {
        font-family: monospace;
        // font-size: 0.75rem;
    }
}